
.container
{
	width:100%;
	height:auto;
	background-color:brown;
	float:center;	
}
.header
{
width:100%;
height:20%;
background-color:brown;
float:center;
}
.main
{
width:100%;
height:75%;
background-color:brown;
float:center;
}
.footer
{
width:100%;
height:10%;
background-color:brown;
float:center;
text-align:center;
	
}
.contact1
{
margin:5px;
background-color:brown;
width:45%;
height:auto;
float:right;
}
.contact2
{
margin:5px;
background-color:brown;
width:45%;
height:auto;
float:left;
}
.about1
{
margin:5px;
background-color:brown;
width:45%;
height:auto;
float:right;
}
.about2
{
margin:5px;
background-color:brown;
width:45%;
height:auto;
float:left;
}